.header {
  /* background-color: var(--color-header); */
  padding-top: 100px;
}

.header-content {
  display: flex;
  justify-content: left;
  gap: 70px;
}

.header-content .MuiButton-root {
  background-color: transparent;
  color: black;
}

.header-content .MuiButton-root:hover {
  background-color: transparent;
  box-shadow: none;
  color: black;
}

.header-content .MuiButton-root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid white;
  transition: opacity 0.3s, border 0.3s;
}

.header-content .MuiButton-root:hover::before {
  opacity: 0;
}

.header-content .MuiButton-root::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom: 3px solid black;
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.header-content .MuiButton-root:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.idioma {
  width: 5%;
  background-color: transparent;
}
